.App {
  text-align: center;
}

.app__form {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.app__list {
  margin: 50px;
  list-style: none;
  padding: 10px;
}

.app__input {
  margin-right: 10px;
}
